body {
    background: #333;
    color: #cdcdcd;
    //margin: 3em auto;
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
    //border: 3px solid black;
    margin: 1em auto;
}

#event-listener-area {
    border: 5px solid black;
    overflow: auto;
}


#search-area {
    border: 5px solid black;
    overflow: auto;
}

#map-workspace {
    border: 5px solid black;
    overflow: auto;
}
