body {
    background: #333;
    color: #cdcdcd;
    //margin: 3em auto;
    font: 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
    //border: 3px solid black;
    margin: 1em auto;
}

#event-listener-area {
    border: 5px solid black;
    height: 139px;
    overflow: auto;
    display: none;
}

#search-area {
    //border: 5px solid black;
    //overflow: auto;
    //display: none;
}

#tiling-area {
    border: 5px solid black;
    height: 405px;
    overflow: auto;
}

#tile-holder {
    border: 2px solid black;
    height: 346px;
    overflow: auto;
}

#tile {
    // need to be calculating all these px values to stay sane and generally just not be stupid;
    border: 3px solid grey;
    //height: 340px;
    //width: 500px;
    margin: 0em;
    float: left;
    overflow: auto;
}

#map-workspace {
    //border: 5px solid black;
    //height: 400px;
    //overflow: auto;
    //display: none;
}

#minibuffer {
    display: none;
}
